openupgradelib
# TODO these should be on PyPI
locomotivecms @ git+https://github.com/akretion/locomotivecms-python-client.git
# test requirements
requests_mock
vcrpy
vcrpy-unittest
unittest2 # For shopinvader test_controller, which inherits component
odoo-test-helper
httpx  # For FastAPI tests
odoo-addon-shopinvader-base-url @ git+https://github.com/shopinvader/odoo-shopinvader@refs/pull/1399/head#subdirectory=setup/shopinvader_base_url
odoo-addon-shopinvader-product-url @ git+https://github.com/shopinvader/odoo-shopinvader@refs/pull/1399/head#subdirectory=setup/shopinvader_product_url
